.btn-appbar {
  background-color: transparent;
  border-color: transparent;
}

.btn-menu {
  position: fixed;
  left: 16px;
  top: calc(0% + 10px);
  z-index: 999;
  padding: 12px;
}

.btn-search {
  position: fixed;
  right: 16px;
  top: calc(0% + 10px);
  z-index: 999;
  padding: 12px;
}