body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 1;
}

h2 {
    margin: 0;
  padding: 20px;
  font-size: 20px;
  line-height: 1;
}

h3 {
    margin: 0;
  padding: 10px;
  font-size: 18px;
  line-height: 1;
}
